<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>com.example.ExamServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarkListServlet</servlet-name>
        <servlet-class>com.example.MarkListServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MarkListServlet</servlet-name>
        <url-pattern>/MarkListServlet</url-pattern>
    </servlet-mapping>
</web-app>
